:root {
  --bg: #0D0B14;
  --bg-secondary: #151221;

  --text: #FFFFF0;
  --text-muted: #9CA3B5;

  --blue: #78A9FF;
  --cyan: #47DBD9;
  --magenta: #E801A0;
  --purple: #1D0F33;

  --border: rgba(120, 169, 255, 0.18);


  --font-main: 'IBM Plex Sans', sans-serif;
  --font-secondary: "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-main);
}

#root {
  min-height: 100vh;
}